@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

*{
    font-family: 'Merriweather', serif;
    margin: 0%;
    padding: 0%;
}

body{
    background-color: #FFEBEB;
}

nav{
    padding: 10px;
    background-color: #6DA9E4;
    color: cornsilk;
    text-align: center;
}

.header{
    padding: 10px;
    background-color:  #f3f3f3;
    color: cornsilk;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.header > a{
    text-decoration: none;
    color: black;
    margin: 20px;
}

.container{
    background-color: #ADE4DB;
    width: 70%;
    margin: auto;
    min-height: 100vh;
    padding: 4Vmax 8vmax;
    box-sizing: border-box;
}

.container > form{
    display: flex;
    flex-direction: column;
}

.container > h1{
    text-align: center;
    margin: 30px;
    font-size: 2.5rem;
}

input,textarea,button{
    padding: 15px;
    border: 1px solid;
    border-radius: 5px;
    margin: 10px 0;
    font-size: 1.2rem;
}

button{
    border: none;
    cursor: pointer;
    background-color: rgb(51, 63, 63);
    color: white;
}
button:hover{
    background-color: #191825;
}

.task{
    display: flex;
    padding: 20px;
    border-radius: 5px;
    background-color: #F6BA6F;
    margin: 20px 0;
    align-items: center;
}

.task > div{
    width: 100%;
}

.task span{
    color: rgba(80, 78, 78, 0.679);
}

.task > button{
    border-radius: 100%;
    width: 30px;
    height: 30px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ED2B2A;
}

.task > button:hover{
    background-color: #D21312;
}

.contact{
    background-color: #D21312;
}